body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: #fff;
}

#hamburger-menu {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    padding: 0px;
    margin: 20px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      #000, #000 20%, 
      #fff 20%, #fff 40%, 
      #000 40%, #000 60%, 
      #fff 60%, #fff 80%, 
      #000 80%, #000 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibilty: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #4b6562;
    transition: 0.3s;
    padding: 0px 5px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #fff;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-menu:focus #sidebar-menu,
#hamburger-menu:focus-within #sidebar-menu  {
    visibility: visible;
    left: 0;
}

#content{
	position: center;
	top:40px; 
	 align-items: center;
}


.image-response {
  width: 100%;
  max-width: 200px;
  height: auto;
}

dev.content-response {
  padding: 0px;
}

/* css color */
.bs00-bg { background-color: #3B3228; }
.bs01-bg { background-color: #534636; }
.bs02-bg { background-color: #645240; }
.bs03-bg { background-color: #7e705a; }
.bs04-bg { background-color: #b8afad; }
.bs05-bg { background-color: #d0c8c6; }
.bs06-bg { background-color: #e9e1dd; }
.bs07-bg { background-color: #f5eeeb; }
.bs08-bg { background-color: #cb6077; }
.bs09-bg { background-color: #d28b71; }
      .bs0A-bg { background-color: #f4bc87; }
      .bs0B-bg { background-color: #beb55b; }
      .bs0C-bg { background-color: #7bbda4; }
      .bs0D-bg { background-color: #8ab3b5; }
      .bs0E-bg { background-color: #a89bb9; }
      .bs0F-bg { background-color: #bb9584; }

      
      
      .bs00 { color: #3B3228; }
      .bs01 { color: #534636; }
      .bs02 { color: #645240; }
      .bs03 { color: #7e705a; }
      .bs04 { color: #b8afad; }
      .bs05 { color: #d0c8c6; }
      .bs06 { color: #e9e1dd; }
      .bs07 { color: #f5eeeb; }
      .bs08 { color: #cb6077; }
      .bs09 { color: #d28b71; }
      .bs0A { color: #f4bc87; }
      .bs0B { color: #beb55b; }
      .bs0C { color: #7bbda4; }
      .bs0D { color: #8ab3b5; }
      .bs0E { color: #a89bb9; }
      .bs0F { color: #bb9584; }

	


@media screen and (min-width: 601px) {
  div.content-response {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  div.content-response {
    font-size: 12px;
  }
//cwcoleman
